*{
    margin: 0px;
    padding: 0px;
}
    #background{
        background-color: darkblue;
        color: gray;
        width: 
    }
    #header{
        font-size: 20pt;
        font-weight: bold
    }